.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	padding-left:185px;
	padding-right:40px;
	@include garamond;
	overflow:hidden;
	.menu-wrap {
		width:100%;
		ul#primary-menu{
			display:block;
			width:100%;
			li{
				display:inline-block;
				margin-right:30px;
			}
		}
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			display:none;
			ul {
				display:none;
				top: 0;
			}
			li {
				&:hover > ul,
				&.focus > ul {
					display:block;
				}
			}
			a {
				width: 200px;
				padding:5px 10px;
				color:white;
				&:visited {
					color:white;
				}
			}
			:hover > a,
			.focus > a {
			}
			a:hover,
			a.focus {
			}
		}
		li:hover > ul,
		li.focus > ul {
			display:block;
		}
	}
	li {
		text-align:center;
		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
		color:white;
		&:visited {
			color:white;
		}
		font-size:30px;
	}
	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}
@media screen and (max-width: 1000px) {

	.main-navigation{
		a{
			font-size:3vw;
		}
	}

	.main-navigation ul {
		display: block;
	}
}
@media screen and (max-width: 767px) {
	#site-navigation{
		display:none;
	}
	#site-logo {
		display:block;
		position:relative;
		top:60px;
	}
	#page #masthead .site-branding div #menu-stack{
		display:none;
	}
}
.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}
	& .nav-previous {
		float: left;
		width: 50%;
	}
	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}









