
$header_height: 100px;
$mobile-header: 10vw;

body #wpadminbar{
	//top:-46px;
}

.no-padding {
	padding:0;
}

body.page-template-default  #content {
	background-color:black;
	color:white;
}

html{
	height:100%;
	min-height:100%;
	font-family:$font__main;
	font-weight:300;
	body {
		height:auto;

	}
	body.home {
		height:100%;
	}
}

body{
	position:relative;
	//background:black;
	margin:0;
	padding:0;
	height:100%;
	background-color:#231f20;
}

.author #page {
	background-color:#231f20;
}

html {
	overflow-y: scroll; 
}

.editors-wrap {
	padding-top:40px;
	padding-bottom:40px;
	background:#231f20;
	box-shadow:inset 0 0 50px 0 rgba(0,0,0,0.5);
	color:#96d0da;
	font-weight:bold;
}

.city-wrap {
	//background is set inline in html
	display:block;
	position:relative;
	background-position:center center;
	background-size:cover;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	color: #FFFFFF;
	text-shadow: 0 0 20px rgba(0,0,0,0.4);
	border-bottom:6px solid #222222;
	padding-top:20px;
	padding-bottom:20px;
	min-height:220px;
	a {
		color: #FFFFFF;
		text-shadow: 0 0 20px rgba(0,0,0,0.4);

		&:visited {
			color: #FFFFFF;
			text-shadow: 0 0 20px rgba(0,0,0,0.4);
		}
		&:hover,
		&:focus,
		&:active {
			color: #FFFFFF;
			text-shadow: 0 0 20px rgba(0,0,0,0.4);
		}
	}
	.hover-image {
		display:block;
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		background-position:center center;
		background-size:cover;
		background-repeat: no-repeat;
		opacity:0;
		&:hover{
			opacity:1;
		}
	}

	&:hover .hover-image {
		opacity:1;
	}
}

.city-wrap:hover {
	color:white;

	a {
		color: #ffffff;

		&:visited {
			color: #ffffff;
		}
		&:hover,
		&:focus,
		&:active {
			color: #ffffff;
		}
	}
	h1{
		color:white;
	}
}
// see archive-city.php   The bootstrap accordian behavior is unfortunately dependent on the accordian groups being wrapped in a .panel element. It is rather silly. But it's a bug/feature we have to work around. We also need to reset the unwanted css for .panel, but just for where we are using it!

#city-accordion .panel {
	position:relative;
	margin:0;
	background:none;
	border:none;
	border-radius:0;
	box-shadow:none;
}

#page{
	background-color:#96d0da;
	height:100%;
}

.clickable{
	cursor: pointer;
}
#masthead {
	position:relative;
}
.site-branding {
	display:block;
	position:absolute;
	width:100%;

}



#page {


	.header-wrap{


	}

	#content{

	}


}


.header-wrap {
	background-color:rgba(150, 208, 218, 1);
	display:block;
	position:fixed;
	width:100%;	
	//left:0;
	//top:0;
	z-index:101;

	transition: background-color 0.5s ease;

}

.header-wrap.faded {
	background-color:rgba(150, 208, 218, 0);

	transition: background-color 0.5s ease;
}

.home .header-wrap {
	background-color:rgba(150, 208, 218, 1);
	//display:block;
	position:fixed;
	//left:0;
	//top:0;
	z-index:101;
	width:100%;

	transition: background-color 0.5s ease;
}

.home .header-wrap.faded{
	background-color:rgba(150, 208, 218, 0);

	transition: background-color 0.5s ease;
}





#page #content #header-nav{
	display:block;
	position:fixed;
	width:100%;
	z-index:100;
	background-color:#96d0da;


	box-shadow: 0 0 30px 0 rgba(0,0,0,0.1);




	.container {
	} 

	color:#222;
	a{
		color:#f85a42;
		&:visited{
			color:#f85a42;
		}
	}
}


.mean-shim{
	display:none;
}
.home-link {
	display:none;
}

.modal-hover img {
	width: 90px;
	height: 90px;
}

@media screen and (max-width: 767px) {

	.header-wrap {
		display:none;
	}
	.home .header-wrap {
		display:none;
	}
	#page #content #header-nav{
		display:block;
		position:relative;
		margin-top:65px;
	}

	body.mean-container .mean-bar {

		background: url("images/logo_198_63.png") no-repeat 20px 10px;
		background-size: auto 50px;
		@include garamond;
	}
	#primary.content-area {
		padding-top:0;
	}

	.mean-bar{
		//outline:1px solid blue;
	}

	.meanclose {
		//outline:1px solid red;

	}
	.meanclose +.mean-nav {
		//outline:1px solid green;
	}

	.mean-shim {
		display:block;
		position:fixed;
		height:65px;
		width:100%;
		left:0;
		top:0px;
		background-color: #96d0da;
		z-index:101;
	}
	a.home-link{
		display:block;
		position:fixed;
		width:200px;
		height:65px;
		z-index:9999999;
		//background-color:red;
	}


	.modal-dialog {
		top: $mobile-header * 1.4;
	}
	.modal-hover img {
		width:12vw;
		height:12vw;
	}



}






#primary-menu {
	color:#f85a42;
	a{
		color:#ffffff;
		&:visited{
			color:#ffffff;
		}
	}
}


#site-navigation{
	position:relative;
	line-height:$header_height;

	&.displace{
		top:-100px;
		height:0 !important;
	}
}

#city-navigation,#author-navigation {
	display:block;
	position:relative;
	height:$header_height;
	line-height:$header_height;
	width: 100%;
	padding-left:185px;
	padding-right:40px;
	@include garamond;
	background-color: #96d0da;
	.menu-wrap {
		display:block;
		position:relative;

		h1.page-title{
			display:block;
			position: absolute;
			margin:0;
			line-height:100px;
			white-space: nowrap;
			z-index:9999;
		}	
	}

}


@media screen and (max-width: 767px) {



	.page-template-default #content {
		padding-top: $mobile-header;
	}

	#page #content #header-nav{
		background-color: #231f20;
	}

	#city-navigation,#author-navigation {
		display:block;
		position:relative;
		height:$mobile-header;
		line-height:$mobile-header;

		width: 100%;
		padding-left:0;
		padding-right:0;
		@include garamond;
		background-color: #231f20;
		color:white;
		h1.page-title{
			margin:0;
			line-height:$mobile-header;
		}
	}


}


#site-logo {
	max-height:62px;
	padding:2px 0;

}
#menu-stack{
	img {
		width:46px;
		height:auto;
	}
}


#masthead .site-branding {

	a#menu-stack {
		//display:block;
		//position:relative;
		//bottom:-9px;
	}
}

#site-navigation li a {
	position:relative;
	bottom:-6px;
}

#masthead{

	.site-branding{
		div{
			#site-logo-wrap{
				display:block;
				position:absolute;
				line-height:$header_height;
				left:15px;
				z-index:10;
			}

			#menu-stack{
				display:block;
				position:absolute;
				line-height:$header_height;
				z-index:10;
				right:15px;
				color:#f85a42;
				&:visited{
					color:#f85a42;
				}				

				.fa{
					position:relative;
					bottom:-12px;
				}
			}

			.left-side{
				left:0;
			}

			.right-side{
				right:0;
			}

		}
	}
}

#page{
	height:100%;
}
#content{
	height:100%;
}
#primary{
	height:100%;
}

.flexslider-container, .flexslider .slides, .flex-viewport {
	height: 100%;
}

.flexslider{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	border: 0px solid;
	overflow: hidden;
	.slides > li {
		position:relative;
		background-size: cover; 
		background-position: center;
		height: 100%;
		width: 100%;
		display: none; 
		-webkit-backface-visibility:hidden;
		z-index:1;
		.slide-link{
			display:block;
			position:absolute;
			width:100%;
			height:100%;
			z-index:40;
		}
		.slide-title{
			display:block;
			position:absolute;
			top:50%;
			left:15%;
			width:70%;
			text-align:center;
			transform: translateY(-50%);
			//transform: translateX(-50%);
			color:white;
			font-size:3.0em;
			line-height:1.5em;
			z-index:50;
			//outline:1px solid green;
		}
	}
} 
.flexslider .slides img {width: auto;
	height: 100%;
	display: block;
}
@media screen and (max-width: 767px) {
	.flexslider .slides > li .slide-title	{
		font-size:5.5vw;
		line-height:6vw;
	}

	body.archive.author .portfolio-background header.page-header h1.editor-title {
		font-size:24px;
		left:20px;
	}

}



.page-template-page-contacts {
	.entry-content {
		a.email-button {

		}
	}
}



.post-type-archive-city {

	h1.entry-title {
		text-transform: uppercase;
		font-weight: 300;
	}
	.editors-listed {
		font-weight: 300;
		font-size:20px;
	}
	.entry-content {
		a.email-button {
			display:block;
			opacity:1;
			color:rgba(0,0,0,0);
			text-shadow: 0 0 20px rgba(0,0,0,0.4);
			&:before {
				display:block;
				position:absolute;
				border:2px solid #FFFFFF;
				padding: 5px 30px 5px 15px;
				width:150px;
				text-align:center;
				font-weight:bold;
				content:"Email";
				opacity:1;
				color: #FFFFFF;
				text-shadow: 0 0 20px rgba(0,0,0,0.4);
			}
			
		}

	}
}





#primary #main{
	min-height:100%;
}

.breadcrumb-wrap{
	background-color: #96d0da;
}

.archive.author, .single-portfolio{
	#page {
		background-color:rgb(35,31,32);
	}

	.portfolio-background{
		background-color:#231f20;
		color:white;
		header.page-header{
			display:block;
			position:relative;
			border:none;
			margin-top:0;
			img{
				width:100%;
				height:auto;

			}
			h1.editor-title{
				display:block;
				position:absolute;
				margin:0;
				padding:0;
				left:40px;
				bottom:40px;
			}
		} 
		.portfolio-item{
			display:block;
			position:relative;
			z-index:1;
			margin-top:1.5em;
			&:hover {
				//outline:10px solid red;
			}
			& *{
				//outline:5px solid green;
			}
			
			img.vid-play {
				display:block;
				position:absolute;
				width:80px;
				height:80px;
				left:50%;
				top:50%;
				transform: translate(-50%,-50%);
				pointer-events:none;
				opacity:0;
				transition:opacity 500ms;
			}
			&:hover img.vid-play {
				opacity:1;
				transition:opacity 500ms;
			}

			.content-area-wrap {
				display:block;
				position:absolute;
				width:100%;
				top:0;
				
			}

			.vid-down{
				z-index:-1;
			}
			.vid-pause{
				z-index:50;
			}
			.vid-up{
				z-index:100;
			}


			.entry-content{
				z-index:50;
				img{
					width:100%;
					height:auto;
				}
			}				
			.entry-header{
				display:block;
				position:absolute;
				margin:0;
				padding:0;
				left:40px;
				bottom:40px;
				z-index:55;
			}

		}



	}
} 


@media screen and (max-width: 767px) { 
	.archive.author, .single-portfolio {
		.portfolio-background .portfolio-item img.vid-play  {
			display:none;
		}
	}
}

.portfolio-item, .modal-content {
	h1.entry-title{
		color:#f85a42;
		text-transform: uppercase;
	}
	.modal-body{
		p{
			margin:0;
			padding:0;
		}

	}
	.modal-closer{
		display:block;
		position:absolute;
		top:-15px;
		right:-13px;
		a{
			color:black;
			.lightbox-close {
				width:35px;
				height:35px;
			}
		}
	}
	.spot-title {
		display:block;
		position:absolute;
		bottom:-50px;
		left:0;
		color:white;
		font-size:1.5em;
		text-shadow: 0 0 10px #000;
		text-transform: uppercase;
		font-weight: 400;
	}
}
.page-template-page-contacts #page #content {
	background-color: black;
	height:100%;
	.sales {
		//margin-top:40px;
	}
	.producers{

		h2{
			color:white;
			margin-top:35px;
			margin-bottom:0px;
		}
		color:#96d0da;
	}
	a{
		color:#96d0da;
		&:visited{
			color:#96d0da;
		}
	}
	.entry-content{
		margin-top:0;
	}
	.entry-header{
		h3.entry-title{
			margin-bottom:0;	
			color: #f85a42;		
		} a{
			color:#f85a42;
			//font-weight:bold;

		}
	}
}

#primary {
	padding-top:$header_height;
}
.home #primary {
	padding-top:0;
}

#breadcrumb-city {
	text-transform: capitalize;
}






@media screen and (max-width: 767px) {   

	.video-meta {

		font-size:0.7em;

	}

	.flex-direction-nav {
		display:none;
	}

	h1.page-title, h1.editor-title, h1.entry-title {
		font-size:4vw;
		line-height:8vw;
	}

	.archive.author .portfolio-background .portfolio-item .entry-header {
		left: 20px;
		bottom: 20px;
	}

	.page-content, .entry-content, .entry-summary {
		margin-top: 0.75em;
	}
	p {
		margin-bottom: 0.75em;
	}
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 16px;
		margin-bottom: 8px;

	}


}

@media screen and (max-width: 570px) { 

	article.portfolio-item {
		margin-top:-25px;
	}

	.single-portfolio .portfolio-background .portfolio-item .entry-header {
		left: 20px;
		bottom: 20px;
	}

	#page .menu-wrap	h1.page-title, h1.editor-title, h1.entry-title {
		font-size:20px;
		//line-height:60px ;
	}

	#city-navigation,#author-navigation {
		line-height:80px;
		height:80px;
	}
	#city-navigation h1.page-title, #author-navigation h1.page-title {

		line-height: 80px;
	}


}
.modal.fade.in {
	background-color:rgba(0,0,0,0.1);
}
.modal-dialog {
	background-color:rgba(0,0,0,0);
}
.modal-content{
	background-color:rgba(0,0,0,0);
	box-shadow:none;
	border:none;
}
.modal-body {
	//padding:0;
	background-color:rgba(0,0,0,0);
	p {
		box-shadow:rgba(0,0,0,0.49)
	}
}

#site-navigation.main-navigation{
	display:block;
	height:$header_height;
	line-height:$header_height;
	opacity:1;

	&.nav-appear {

		transition: all 0.5s ease;
	}
}


.video-meta {
	display:block;
	max-width:100%;
	font-size:0.8em;
	span{
		display:block;
		position:relative;
		max-width:100%;
		white-space: nowrap;
	}
}

.editor-thumb .hover-overlay {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color:rgba(0,0,0,0.2);
	transition:all 500ms;
	&:hover{
		background-color:rgba(0,0,0,0);
		transition:all 500ms;
	}
}

.city-anchor-offset {
	display:block;
	position:absolute;
	top:-110px;
}
.vid-author-link {
	font-size:1.3em;
	margin-top:20px;
	color:#f85a42;
	.author-name{
		font-weight:bold;
		white-space: nowrap;
	}
}
.test-tracking{
	//display:block;
	position:absolute;
	bottom:-24px;
	left:0;
	display:none;
}

#main .portfolio-sets {
	padding-bottom:35px;

}

.attachment-sixteen_nine_background{
	//display:none;
}

.portfolio-item .entry-content {
	display:block;
	
	.helper {

	}
}
@media screen and (min-width: 767px) {
	article.portfolio-item	{
		min-height:400px;
	}
}

#social-container {
	display:none;
}

.post-type-archive-city #social-container,
.page-template-page-contacts #social-container,
{
	display:block;
	position:fixed;
	width:100%;
	z-index:9999;
	//outline:1px solid black;
	#social-navigation{
		display: block;
		position: relative;

		width: 100%;
		padding-left: 185px;
		padding-right: 40px;
		font-family: 'EB Garamond', serif;
		//outline:1px solid green;
		#header-social{
			display:block;
			position:absolute;
			right:75px;
			line-height:100px;
			width:149px;
			z-index:20;


			//outline:1px solid red;
		}
	}
	.textwidget{
		color:white;
			//font-size:1.1em;
			a{
				display:inline-block;
				padding:0 10px;
				color:white;
				font-size:22px;
				&:hover{
					color:white;
				}
				&:visited{
					color:white;
				}
				&:active{
					color:white;
				}
				&:focus{
					color:white;
				}
			}

			i{
				
			}


		}
	}



	#page #content #header-nav #header-social {
		.textwidget{
			color:white;
			//font-size:1.1em;
			a{
				display:inline-block;
				padding:0 10px;
				color:white;
				font-size:22px;
				&:hover{
					color:white;
				}
				&:visited{
					color:white;
				}
				&:active{
					color:white;
				}
				&:focus{
					color:white;
				}
			}

			i{
				
			}


		}
	}

	html header,#city-navigation {

		#header-social{
			display:block;
			position:absolute;
			right:75px;
			line-height:100px;
			width:149px;
			z-index:20;
			.textwidget{
				color:white;
			//font-size:1.1em;
			a{
				display:inline-block;
				padding:0 10px;
				color:white;
				font-size:22px;
				&:hover{
					color:white;
				}
				&:visited{
					color:white;
				}
				&:active{
					color:white;
				}
				&:focus{
					color:white;
				}
			}

			i{
				
			}


		}
	}
}


.mean-container .mean-nav ul li.mean-last{

	border-top: 1px solid #383838;
	border-top: 2px solid rgba(255, 255, 255, 0.5);
	//padding-left: 20px;
	.textwidget a {
		display: block;
		float: left;
		width: 20px;
		padding: 0.8em 20px;
		font-size:1.3em;
		border:none;
		&:first-of-type{
			padding: 0.8em 20px 0.8em 5%;

		}
	}
} 

@media screen and (min-width: 750px) {
	.main-navigation .menu-wrap ul#primary-menu li.desktop-hidden {
		display:none;
	}

}


