
$header_height: 100px;

body #wpadminbar{
	//top:-46px;
}
@media screen and (min-width:783px){
	//margin-top:32px;
}

.no-padding {
	padding:0;
}


body.page-template-default  #content {
	background-color:black;
	color:white;
}

html{
	height:100%;
	min-height:100%;
	font-family:$font__main;
	font-weight:300;
	body {
		height:auto;

	}
	body.home {
		height:100%;
	}
}



body{
	position:relative;
	//background:black;
	margin:0;
	padding:0;
	height:100%;
}

html {
	overflow-y: scroll; 
}

.editors-wrap {
	padding-top:40px;
	padding-bottom:40px;
	background:#231f20;
	box-shadow:inset 0 0 50px 0 rgba(0,0,0,0.5);
	color:#96d0da;
	font-weight:bold;
}


.city-wrap {
	//background is set inline in html
	display:block;
	position:relative;
	background-position:center center;
	background-size:cover;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
	color: #96d0da;
	border-bottom:6px solid #222222;
	padding-top:20px;
	padding-bottom:20px;
	a {
		color: #96d0da;

		&:visited {
			color: #96d0da;
		}
		&:hover,
		&:focus,
		&:active {
			color: #96d0da;
		}
	}
	.hover-image {
		display:block;
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		background-position:center center;
		background-size:cover;
		background-repeat: no-repeat;
		opacity:0;
		&:hover{
			opacity:1;
		}
	}

	&:hover .hover-image {
		opacity:1;
	}
}

.city-wrap:hover {
	color:white;

	a {
		color: #ffffff;

		&:visited {
			color: #ffffff;
		}
		&:hover,
		&:focus,
		&:active {
			color: #ffffff;
		}
	}
	h1{
		color:white;
	}
}
// see archive-city.php   The bootstrap accordian behavior is unfortunately dependent on the accordian groups being wrapped in a .panel element. It is rather silly. But it's a bug/feature we have to work around. We also need to reset the unwanted css for .panel, but just for where we are using it!

#city-accordion .panel {
	margin:0;
	background:none;
	border:none;
	border-radius:0;
	box-shadow:none;
}

#page{
	background-color:#96d0da;
	height:100%;
}

.clickable{
	cursor: pointer;
}
#masthead {
	position:relative;
}
.site-branding {
	display:block;
	position:absolute;
	width:100%;

}




.header-wrap {
	background-color:#96d0da;
	display:block;
	position:fixed;
	width:100%;	
	//left:0;
	//top:0;
	z-index:999;
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);
}

.home .header-wrap {
	background-color:#96d0da;
	//display:block;
	position:fixed;
	//left:0;
	//top:0;
	z-index:999;
	width:100%;
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.5);
}


#page #content #header-nav{
	display:block;
	position:fixed;
	width:100%;
	z-index:100;
	background-color:#96d0da;
	.container {
	} 

	color:#222;
	a{
		color:#f85a42;
		&:visited{
			color:#f85a42;
		}
	}
}




@media screen and (max-width: 767px) {

	.header-wrap {
		display:none;
	}
	.home .header-wrap {
		display:none;
	}
	#page #content #header-nav{
		display:block;
		position:relative;
		margin-top:65px;
	}

	body.mean-container .mean-bar {

		background: url("images/logo_198_63.png") no-repeat 20px 10px;
		background-size: auto 50px;
		@include garamond;
	}
	#primary.content-area {
		padding-top:0;
	}


}




#primary-menu {
	color:#f85a42;
	a{
		color:#ffffff;
		&:visited{
			color:#ffffff;
		}
	}
}


#site-navigation {
	line-height:$header_height;
}

#city-navigation,#author-navigation {
	display:block;
	position:relative;
	height:$header_height;
	line-height:$header_height;
	width: 100%;
	padding-left:185px;
	padding-right:40px;
	@include garamond;
	background-color: #96d0da;
	h1.page-title{
		margin:0;
		line-height:100px;
	}
}


@media screen and (max-width: 767px) {


	#page #content #header-nav{
		background-color: #231f20;
	}

	#city-navigation,#author-navigation {
		display:block;
		position:relative;
		height:$header_height;
		line-height:$header_height;
		width: 100%;
		padding-left:0;
		padding-right:0;
		@include garamond;
		background-color: #231f20;
		h1.page-title{
			margin:0;
			line-height:100px;
		}
	}


}


#site-logo {
	max-height:62px;
	padding:2px 0;

}
#menu-stack{
	img {
		width:46px;
		height:auto;
	}
}


#masthead .site-branding {

	a#menu-stack {
		//display:block;
		//position:relative;
		//bottom:-9px;
	}
}

#site-navigation li a {
	position:relative;
	bottom:-6px;
}

#masthead{

	.site-branding{
		div{
			#site-logo-wrap{
				display:block;
				position:absolute;
				line-height:$header_height;
				left:15px;
				z-index:10;
			}

			#menu-stack{
				display:block;
				position:absolute;
				line-height:$header_height;
				z-index:10;
				right:15px;
				color:#f85a42;
				&:visited{
					color:#f85a42;
				}				

				.fa{
					position:relative;
					bottom:-12px;
				}
			}

			.left-side{
				left:0;
			}

			.right-side{
				right:0;
			}

		}
	}
}

#page{
	height:100%;
}
#content{
	height:100%;
}
#primary{
	height:100%;
}

.flexslider-container, .flexslider .slides, .flex-viewport {
	height: 100%;
}

.flexslider{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	border: 0px solid;
	overflow: hidden;
	.slides > li {
		background-size: cover; 
		background-position: center;
		height: 100%;
		width: 100%;
		display: none; 
		-webkit-backface-visibility:hidden;
		.slide-title{
			display:block;
			position:relative;
			top:50%;
			left:0;
			width:100%;
			text-align:center;
			transform: translateY(-50%);
			//transform: translateX(-50%);
			color:white;
			z-index:50;
			font-size:3.8em;
			line-height:4em;
		}
	}
} 
.flexslider .slides img {width: auto;
	height: 100%;
	display: block;
}
@media screen and (max-width: 767px) {
	.flexslider .slides > li .slide-title	{
		font-size:5.5vw;
		line-height:6vw;
	}


}







.post-type-archive-city {

	h1.entry-title {
		text-transform: uppercase;
		font-weight: 300;
	}
	.editors-listed {
		font-weight: 300;
		font-size:20px;
	}
	.entry-content {
		a.email {
			display:block;
			border:2px solid #96d0da;
			padding: 5px 30px 5px 15px;
			content:"Email";
			width:150px;
			text-align:center;
			font-weight:bold;
		}
	}
}

#primary #main{
	min-height:100%;
}

.breadcrumb-wrap{
	background-color: #96d0da;
}

.archive.author .portfolio-background{
	background-color:#231f20;
	color:white;
	header.page-header{
		display:block;
		position:relative;
		border:none;
		margin-top:0;
		img{
			width:100%;
			height:auto;

		}
		h1.editor-title{
			display:block;
			position:absolute;
			margin:0;
			padding:0;
			left:40px;
			bottom:40px;
		}
	} 
	.portfolio-item {
		display:block;
		position:relative;

		.entry-header{
			display:block;
			position:absolute;
			margin:0;
			padding:0;
			left:40px;
			bottom:40px;
		}
		.entry-content{
			img{
				width:100%;
				height:auto;
			}
		}
	}
}

.portfolio-item {
	h1.entry-title{
		color:#f85a42;
		text-transform: uppercase;
	}
	.modal-body{
		p{
			margin:0;
			padding:0;
		}

	}
	.modal-closer{
		display:block;
		position:absolute;
		top:-20px;
		right:-20px;
		a{
			color:black;
			.fa-circle{
				color:white;
				font-size:1.7em;
				line-height:1.2em;
			}
			.modal-closer-button {
				span{
					display:block;

				}
			}
		}
	}
	.spot-title {
		display:block;
		position:absolute;
		bottom:-50px;
		left:0;
		color:white;
		font-size:1.5em;
		text-shadow: 0 0 10px #000;
		text-transform: uppercase;
		font-weight: 400;
	}
}
.page-template-page-contacts #page #content {
	background-color: black;
	height:100%;
	.sales {
		margin-top:40px;
	}
	.producers{

		h2{
			color:white;
			margin-top:35px;
			margin-bottom:0px;
		}
		color:#96d0da;
	}
	a{
		color:#96d0da;
		&:visited{
			color:#96d0da;
		}
	}
	.entry-content{
		margin-top:0;
	}
	.entry-header{
		h3.entry-title{
			margin-bottom:0;			
		} a{
			color:#f85a42;
			//font-weight:bold;

		}
	}
}

#primary {
	padding-top:$header_height;
}
.home #primary {
	padding-top:0;
}


